
{% extends 'layout-private.html' %}

{% block title %}
    Print nilai - {{ parent() }}
{% endblock %}

{% block content %}
<div class="module">
<div class="module-head">
        <h3>Data siswa yang sudah melihat Materi {{ materi.judul }}</h3>
    </div>
    <div class="module-body">


<table class="table table-striped datatable">
            <thead>
                <tr>
                    <th width="5%">No</th>
                    <th>Nis</th>
                    <th>Nama</th>
                    <th>Kelas</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for n in data_nilai_filter %}
                <tr>
                    <td>{{ n.no }}</td>
                    <td>{{ n.nis }}</td>
                    <td>{{ n.nama }}</td>
                    <td>{{ n.kelas.nama }}</td>
                    <td>{{ n.status }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
</div>


{% endblock %}

 
