{% extends 'layout-print.html' %}

{% block title %}
    Print nilai - {{ parent() }}
{% endblock %}

{% block content %}
<b>Data siswa yang sudah melihat Materi {{ materi.judul }}</b>


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th width="5%">No</th>
            <th>Nis</th>
            <th>Nama</th>
            <th>Kelas</th>
        </tr>
    </thead>
    <tbody>
        {% for n in data_siswa %}
        <tr>
            <td>{{ n.no }}</td>
            <td>{{ n.nis }}</td>
            <td>{{ n.nama }}</td>
            <td>{{ n.kelas }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
